body {
    border: 0px solid black;
    height: 1040px;
    width: 99.5%;
    margin: auto;
    background: url("../images/new.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main {
    border: 1px solid black;
    width: 55%;
    margin: auto;
    height: 1040px;
    background-color: #F8F8FF;
    box-shadow: 0 0 0 0 black;
    opacity: 1.0;
    background: url("../images/pic.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: Papyrus;
    color: white;
    font-size: 45px;
}
h2 {
    font-family: Century;
    color: #0040ff;
    padding-left: 20px;
    margin-top: -10px;
}
label {
    color: #DCDCDC;
    font-family: cursive;
}
.radioLabel {
    padding: 5px;
    color: #DCDCDC;
    font-family: cursive;
    margin: 10px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
    font-size: 40px;
}
input[type="checkbox"] {
    margin-top: -1px;
    vertical-align: middle;
}
/*.leftandright {
  background-color: #eed;
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),;
  -webkit-box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);

}
*/

#firstBlock {
    float: left;
    width: 90%;
    height: 200px;
    margin-left: 23px;
}
#image {
    width: 28%;
    height: 150px;
    transform: translate(260%, -105%);
}
#secondBlock {
    float: left;
    width: 92%;
    height: 220px;
    margin-left: 23px;
}
#leftSecond {
    width: 72%;
    float: left;
}
#rightSecond {
    width: 28%;
    float: left;
}
#date {
    text-align: center;
    width: 31%;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: ;
}
#thirdBlock {
    float: left;
    width: 92%;
    height: 270px;
    margin-left: 23px;
}
.button {
    margin-top: 17px;
    font-family: sans-serif;
    width: 100px;
    height: 30px;
    background-color: #0040ff;
    color: white;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
}
input[type=text],
select {
    width: 50%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}
input[type=email],
select {
    width: 50%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}
textarea {
    width: 90%;
    height: 150px;
    margin-top: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
select {
    width: 30%;
    height: 35px;
    border-radius: 4px;
    font-family: cursive;
    font-size: 14px;
    padding: 1px 5px;
}
#textInput {
    width: 4.5%;
    padding: 0px;
    font-weight: bold;
    height: 25px;
    text-align: center;
}
input[type="range"] {
    margin-top: -1px;
    vertical-align: middle;
}
.chk {
    padding-bottom: 11px;
}
h3 {
    padding-left: 10px;
    color: blue;
    font-size: 25px;
    font-family: Papyrus;
}
p {
    margin-top: -10px;
    font-size: 20px;
    color: red;
}
#button {
    margin-left: 240px;
}
hr {
    margin-bottom: 20px;
    margin-top: 20px;
}
#TextF {
    margin-left: 35px;
}
#TextL {
    margin-left: 40px;
}
#emailT {
    margin-left: 80px;
}
#yearsT {
    margin-left: 20px;
}
.list {
    padding-left: 23px;
}
#sub3 {
    position: relative;
    left: 20px;
    top: 15px;
    width: 30%;
    padding: 12px;
    display: none;
}
.fields2 {
    margin-left: 10px;
    float: left;
    margin-top: 10px;
    color: #0040ff;
    padding-left: 20px;
    padding-top: 10px;
}
.fields {
    color: #0040ff;
}
.lists {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    color: #0040ff;
    padding-top: 10px;
}
.list {
    color: #0040ff;
}
#userInfo {
    background-color: #f8f8f8;
    font-weight: bold;
    width: 94.5%;
    height: 140px;
    border: 4px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
